/****** Object:  Database [ShoeStore]    Script Date: 5/20/2023 10:38:19 PM ******/
CREATE DATABASE [ShoeStore]  (EDITION = 'Standard', SERVICE_OBJECTIVE = 'S0', MAXSIZE = 10 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_diagramobjects]    Script Date: 5/20/2023 10:38:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE FUNCTION [dbo].[fn_diagramobjects]() 
	RETURNS int
	WITH EXECUTE AS N'dbo'
	AS
	BEGIN
		declare @id_upgraddiagrams		int
		declare @id_sysdiagrams			int
		declare @id_helpdiagrams		int
		declare @id_helpdiagramdefinition	int
		declare @id_creatediagram	int
		declare @id_renamediagram	int
		declare @id_alterdiagram 	int 
		declare @id_dropdiagram		int
		declare @InstalledObjects	int

		select @InstalledObjects = 0

		select 	@id_upgraddiagrams = object_id(N'dbo.sp_upgraddiagrams'),
			@id_sysdiagrams = object_id(N'dbo.sysdiagrams'),
			@id_helpdiagrams = object_id(N'dbo.sp_helpdiagrams'),
			@id_helpdiagramdefinition = object_id(N'dbo.sp_helpdiagramdefinition'),
			@id_creatediagram = object_id(N'dbo.sp_creatediagram'),
			@id_renamediagram = object_id(N'dbo.sp_renamediagram'),
			@id_alterdiagram = object_id(N'dbo.sp_alterdiagram'), 
			@id_dropdiagram = object_id(N'dbo.sp_dropdiagram')

		if @id_upgraddiagrams is not null
			select @InstalledObjects = @InstalledObjects + 1
		if @id_sysdiagrams is not null
			select @InstalledObjects = @InstalledObjects + 2
		if @id_helpdiagrams is not null
			select @InstalledObjects = @InstalledObjects + 4
		if @id_helpdiagramdefinition is not null
			select @InstalledObjects = @InstalledObjects + 8
		if @id_creatediagram is not null
			select @InstalledObjects = @InstalledObjects + 16
		if @id_renamediagram is not null
			select @InstalledObjects = @InstalledObjects + 32
		if @id_alterdiagram  is not null
			select @InstalledObjects = @InstalledObjects + 64
		if @id_dropdiagram is not null
			select @InstalledObjects = @InstalledObjects + 128
		
		return @InstalledObjects 
	END
	
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 5/20/2023 10:38:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[Username] [varchar](100) NOT NULL,
	[Password] [varchar](4000) NULL,
	[Role] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 5/20/2023 10:38:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Color]    Script Date: 5/20/2023 10:38:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Color](
	[ColorId] [int] IDENTITY(1,1) NOT NULL,
	[ColorName] [varchar](50) NULL,
	[ColorHexCode] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ColorId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 5/20/2023 10:38:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerUsername] [varchar](100) NOT NULL,
	[CustomerName] [nvarchar](100) NULL,
	[CustomerEmail] [varchar](100) NULL,
	[CustomerPNum] [char](10) NULL,
	[CustomerAddress] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerUsername] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetailReceipt]    Script Date: 5/20/2023 10:38:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetailReceipt](
	[DetailReceiptId] [int] IDENTITY(1,1) NOT NULL,
	[quantityProduct] [int] NULL,
	[Price] [int] NULL,
	[ReceiptId] [int] NULL,
	[ProductColorSizeId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DetailReceiptId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Image]    Script Date: 5/20/2023 10:38:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Image](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImageData] [varbinary](max) NULL,
	[ImageExtension] [varchar](10) NULL,
	[ProductId] [int] NULL,
	[IsMain] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 5/20/2023 10:38:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[PaymentMethod] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductColorSize]    Script Date: 5/20/2023 10:38:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductColorSize](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[SizeId] [int] NOT NULL,
	[ColorId] [int] NOT NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 5/20/2023 10:38:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](200) NULL,
	[ProductPrice] [float] NULL,
	[ProductViewer] [int] NULL,
	[ProductCategory] [int] NULL,
	[Description] [nvarchar](500) NULL,
	[Date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Receipt]    Script Date: 5/20/2023 10:38:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receipt](
	[ReceiptId] [int] IDENTITY(1,1) NOT NULL,
	[dates] [datetime] NULL,
	[Total] [int] NULL,
	[CustomerUsername] [varchar](100) NULL,
	[StatusId] [int] NULL,
	[PaymentId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReceiptId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Size]    Script Date: 5/20/2023 10:38:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Size](
	[SizeId] [int] IDENTITY(1,1) NOT NULL,
	[SizeValue] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[SizeId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusRC]    Script Date: 5/20/2023 10:38:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusRC](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sysdiagrams]    Script Date: 5/20/2023 10:38:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sysdiagrams](
	[name] [sysname] NOT NULL,
	[principal_id] [int] NOT NULL,
	[diagram_id] [int] IDENTITY(1,1) NOT NULL,
	[version] [int] NULL,
	[definition] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[diagram_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Accounts] ([Username], [Password], [Role]) VALUES (N'Admin', N'$2a$10$4KQdfKOniOK9MF/sSeIeA.9n0VWoNmf3MZMq5JzS8M1Es8I98z7DC', N'AD')
INSERT [dbo].[Accounts] ([Username], [Password], [Role]) VALUES (N'fffd', N'$2a$10$30oHgF1UZSc3Vaozrw/XFeYwCUmS82GAjS5tAirStuzLl1whBl4J.', N'KH')
INSERT [dbo].[Accounts] ([Username], [Password], [Role]) VALUES (N'giang', N'$2a$10$7McNRUz2uQ/U8hUmQUV5DeHMZsQUweuJSjgDKY9IMFum0HqX7CTBC', N'KH')
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryId], [CategoryName]) VALUES (1, N'Running')
INSERT [dbo].[Category] ([CategoryId], [CategoryName]) VALUES (2, N'Lifestyle')
INSERT [dbo].[Category] ([CategoryId], [CategoryName]) VALUES (3, N'Baseketball')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Color] ON 

INSERT [dbo].[Color] ([ColorId], [ColorName], [ColorHexCode]) VALUES (1, N'White', N'ffffff')
INSERT [dbo].[Color] ([ColorId], [ColorName], [ColorHexCode]) VALUES (2, N'Black', N'000000')
INSERT [dbo].[Color] ([ColorId], [ColorName], [ColorHexCode]) VALUES (3, N'Red', N'f44336')
SET IDENTITY_INSERT [dbo].[Color] OFF
GO
INSERT [dbo].[Customer] ([CustomerUsername], [CustomerName], [CustomerEmail], [CustomerPNum], [CustomerAddress]) VALUES (N'fffd', N'Đức Giang', N'giang@gmai', N'258369147 ', N'Ho Chi Minh City')
INSERT [dbo].[Customer] ([CustomerUsername], [CustomerName], [CustomerEmail], [CustomerPNum], [CustomerAddress]) VALUES (N'giang', N'Đức Giang', N'giang@gmai', N'0258369147', N'Ho Chi Minh City')
INSERT [dbo].[Customer] ([CustomerUsername], [CustomerName], [CustomerEmail], [CustomerPNum], [CustomerAddress]) VALUES (N'johncena', N'Mallikarjuna naidu', N'a@gmail.co', N'1234567890', N'HCM')
GO
SET IDENTITY_INSERT [dbo].[Image] ON 

SET IDENTITY_INSERT [dbo].[Image] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([PaymentId], [PaymentMethod]) VALUES (1, N'Thanh toán khi nhận hàng')
INSERT [dbo].[Payment] ([PaymentId], [PaymentMethod]) VALUES (2, N'Thanh toán khác')
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductColorSize] ON 

INSERT [dbo].[ProductColorSize] ([Id], [ProductId], [SizeId], [ColorId], [Quantity]) VALUES (1, 1, 1, 1, 100)
INSERT [dbo].[ProductColorSize] ([Id], [ProductId], [SizeId], [ColorId], [Quantity]) VALUES (2, 1, 1, 2, 479)
INSERT [dbo].[ProductColorSize] ([Id], [ProductId], [SizeId], [ColorId], [Quantity]) VALUES (3, 1, 1, 3, 356)
SET IDENTITY_INSERT [dbo].[ProductColorSize] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductId], [ProductName], [ProductPrice], [ProductViewer], [ProductCategory], [Description], [Date]) VALUES (1, N'Nike Air Force 1 ''07', 2929000, NULL, 1, N'The radiance lives on in the Nike Air Force 1 ''07, the basketball original that puts a fresh spin on what you know best: durably stitched overlays, clean finishes and the perfect amount of flash to make you shine.', NULL)
INSERT [dbo].[Products] ([ProductId], [ProductName], [ProductPrice], [ProductViewer], [ProductCategory], [Description], [Date]) VALUES (2, N'Air Jordan 1 Low SE Craft', 3369000, NULL, 6, N'Consistently fresh and always on point, the low-profile AJ1 is one of the most iconic sneakers of all time. This version incorporates natural tones and suede details—it''s a grounding refresh for a soaring legend.', NULL)
INSERT [dbo].[Products] ([ProductId], [ProductName], [ProductPrice], [ProductViewer], [ProductCategory], [Description], [Date]) VALUES (3, N'Nike Air Max 90', 3519000, NULL, 3, N'Lace up and feel the legacy. Produced at the cross section of art, music and culture, this champion running shoe helped define the ''90s. ', NULL)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Size] ON 

INSERT [dbo].[Size] ([SizeId], [SizeValue]) VALUES (1, 37)
INSERT [dbo].[Size] ([SizeId], [SizeValue]) VALUES (2, 37.5)
INSERT [dbo].[Size] ([SizeId], [SizeValue]) VALUES (3, 38)
SET IDENTITY_INSERT [dbo].[Size] OFF
GO
SET IDENTITY_INSERT [dbo].[StatusRC] ON 

INSERT [dbo].[StatusRC] ([StatusId], [StatusName]) VALUES (1, N'Chờ xử lý')
INSERT [dbo].[StatusRC] ([StatusId], [StatusName]) VALUES (2, N'Đã xử lý')
SET IDENTITY_INSERT [dbo].[StatusRC] OFF
GO
SET IDENTITY_INSERT [dbo].[sysdiagrams] ON 

SET IDENTITY_INSERT [dbo].[sysdiagrams] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_principal_name]    Script Date: 5/20/2023 10:38:27 PM ******/
ALTER TABLE [dbo].[sysdiagrams] ADD  CONSTRAINT [UK_principal_name] UNIQUE NONCLUSTERED 
(
	[principal_id] ASC,
	[name] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD FOREIGN KEY([CustomerUsername])
REFERENCES [dbo].[Accounts] ([Username])
GO
ALTER TABLE [dbo].[DetailReceipt]  WITH CHECK ADD  CONSTRAINT [FK_ProductColorSizeID_Detail_RC] FOREIGN KEY([ProductColorSizeId])
REFERENCES [dbo].[ProductColorSize] ([Id])
GO
ALTER TABLE [dbo].[DetailReceipt] CHECK CONSTRAINT [FK_ProductColorSizeID_Detail_RC]
GO
ALTER TABLE [dbo].[DetailReceipt]  WITH CHECK ADD  CONSTRAINT [FK_RC_Detail_RC] FOREIGN KEY([ReceiptId])
REFERENCES [dbo].[Receipt] ([ReceiptId])
GO
ALTER TABLE [dbo].[DetailReceipt] CHECK CONSTRAINT [FK_RC_Detail_RC]
GO
ALTER TABLE [dbo].[Image]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[ProductColorSize]  WITH CHECK ADD FOREIGN KEY([ColorId])
REFERENCES [dbo].[Color] ([ColorId])
GO
ALTER TABLE [dbo].[ProductColorSize]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[ProductColorSize]  WITH CHECK ADD FOREIGN KEY([SizeId])
REFERENCES [dbo].[Size] ([SizeId])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([ProductCategory])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[Receipt]  WITH CHECK ADD  CONSTRAINT [FK_RC_CUS] FOREIGN KEY([CustomerUsername])
REFERENCES [dbo].[Customer] ([CustomerUsername])
GO
ALTER TABLE [dbo].[Receipt] CHECK CONSTRAINT [FK_RC_CUS]
GO
ALTER TABLE [dbo].[Receipt]  WITH CHECK ADD  CONSTRAINT [FK_RC_PM] FOREIGN KEY([PaymentId])
REFERENCES [dbo].[Payment] ([PaymentId])
GO
ALTER TABLE [dbo].[Receipt] CHECK CONSTRAINT [FK_RC_PM]
GO
ALTER TABLE [dbo].[Receipt]  WITH CHECK ADD  CONSTRAINT [FK_RC_STT] FOREIGN KEY([StatusId])
REFERENCES [dbo].[StatusRC] ([StatusId])
GO
ALTER TABLE [dbo].[Receipt] CHECK CONSTRAINT [FK_RC_STT]
GO
/****** Object:  StoredProcedure [dbo].[Account_Signup]    Script Date: 5/20/2023 10:38:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Author, , Name>
-- Create Date: <Create Date, , >
-- Description: <Description, , >
-- =============================================
CREATE PROCEDURE [dbo].[Account_Signup]
@Username varchar(100),
@Password varchar(2000),
@CustomerName nvarchar(100)= null,
@Email varchar(10)= null,
@PhoneNumber char(10)= null,
@Address nvarchar(200)= null
AS
BEGIN
	declare @Result nvarchar(50);
	begin TRY
		set @Result = N'Tài khoản đã tồn tại';
		insert into Accounts
		values(@Username,@Password,'KH');
		set @Result = N'Lỗi khi thêm khách hàng';
		insert into Customer 
		values(@username,@CustomerName,@Email,@PhoneNumber,@Address);
		set @Result = N'Đăng kí thành công';
		select @Result as Result
		return
	end try
	begin catch
		select @Result as Result
		return
	end catch
END
GO
/****** Object:  StoredProcedure [dbo].[addSizeColor]    Script Date: 5/20/2023 10:38:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[addSizeColor]
@id int,@size int,@color int,@qty int
as
begin
	begin try
		if(exists (select ProductId from ProductColorSize where ProductId=@id and SizeId=@size and ColorId=@color))
			begin
				select -1 as result
			end
		else
			begin
				insert into ProductColorSize(ProductId,SizeId,ColorId,Quantity)
				values(@id,@size,@color,@qty)
				declare @result int
				select @result = @@IDENTITY
				select @result as result
			end
	end try
	begin catch
		select -1  as result
	end catch
end	
GO
/****** Object:  StoredProcedure [dbo].[AddToCart]    Script Date: 5/20/2023 10:38:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[AddToCart](@username varchar(50), @ProductId int , @size int, @color int)
as
	begin
		declare @pcs_id int
		select @pcs_id=Id from ProductColorSize where ProductId = @ProductId and SizeId = @size and ColorId = @color 


	

		if(exists (select * from Carts where Username = @username and PCS_Id = @pcs_id))
			begin
				update Carts set Quantity += 1
			end
		else
			begin 
				insert into Carts values(@username,@pcs_id,1)
			end
	end
GO
/****** Object:  StoredProcedure [dbo].[AuthenticateLogin]    Script Date: 5/20/2023 10:38:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AuthenticateLogin]
@username varchar(100)
AS
BEGIN
	select [Password] as Result
	from Accounts
	where username = @username
END
GO
/****** Object:  StoredProcedure [dbo].[AuthenticateRegister]    Script Date: 5/20/2023 10:38:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AuthenticateRegister]
@Username varchar(100),
@Password varchar(2000),
@CustomerName nvarchar(100)= null,
@Email varchar(10)= null,
@PhoneNumber char(10)= null,
@Address nvarchar(200)= null,
@Image varbinary(max)=null
AS
BEGIN
	declare @Result nvarchar(50);
	begin TRY
		set @Result = N'Tài khoản đã tồn tại';
		insert into Accounts
		values(@Username,@Password);
		set @Result = N'Lỗi khi thêm khách hàng';
		insert into Customer 
		values(@username,@CustomerName,@Email,@PhoneNumber,@Address,@Image)

		set @Result = N'Đăng kí thành công';
		select @Result as Result
		return
	end try
	begin catch
		select @Result as Result
		return
	end catch
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteProduct]    Script Date: 5/20/2023 10:38:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Author, , Name>
-- Create Date: <Create Date, , >
-- Description: <Description, , >
-- =============================================
CREATE PROCEDURE [dbo].[DeleteProduct]
    @ProductID INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Products
    WHERE ProductID = @ProductID;
END
GO
/****** Object:  StoredProcedure [dbo].[Get_All_ProductCS]    Script Date: 5/20/2023 10:38:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Author, , Name>
-- Create Date: <Create Date, , >
-- Description: <Description, , >
-- =============================================
CREATE PROCEDURE [dbo].[Get_All_ProductCS]
@productId int
as
	begin
		select ProductColorSize.*,Color.ColorName,Color.ColorHexCode,Size.SizeValue
		from ProductColorSize
		join Color on ProductColorSize.ColorId = Color.ColorId
		join Size on ProductColorSize.SizeId = Size.SizeId
		where ProductId=@productId
	end
GO
/****** Object:  StoredProcedure [dbo].[Get_session]    Script Date: 5/20/2023 10:38:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Author, , Name>
-- Create Date: <Create Date, , >
-- Description: <Description, , >
-- =============================================
Create PROCEDURE [dbo].[Get_session]
@username varchar(50)
as
begin
	select Customer.*,Accounts.Role from Accounts join Customer on CustomerUsername = Username where Username = @username
END
GO
/****** Object:  StoredProcedure [dbo].[GetAccount]    Script Date: 5/20/2023 10:38:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[GetAccount]

as
begin
	select customer.*, Accounts.Role
	from Customer
	join Accounts on CustomerUsername=Username
	
end
GO
/****** Object:  StoredProcedure [dbo].[GetCartOfUser]    Script Date: 5/20/2023 10:38:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   proc [dbo].[GetCartOfUser](@username varchar(100))
as
	begin
		select pro.*,Category.CategoryName,Size.SizeValue,Color.ColorName ,[Image].ImageData,[Image].ImageExtension, c.Quantity
		from Carts c
		left join ProductColorSize pcs on c.PCS_Id = pcs.Id
		left join (select ProductId,ProductName,ProductCategory,ProductPrice from Products) pro 
			on pro.ProductId = pcs.ProductId
		left join Size on Size.SizeId = pcs.SizeId
		left join Color on Color.ColorId = pcs.ColorId
		left join Category on Category.CategoryId = pro.ProductCategory
		left join (select * from [Image] where IsMain=1)[Image] on pro.ProductId = [Image].ProductId 
		where Username=@username
	end
GO
/****** Object:  StoredProcedure [dbo].[GetColor]    Script Date: 5/20/2023 10:38:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetColor]
as 
BEGIN
    select * from Color
END
GO
/****** Object:  StoredProcedure [dbo].[GetColorOfProduct]    Script Date: 5/20/2023 10:38:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetColorOfProduct]
@productId int
as
	begin
		select distinct Color.* from ProductColorSize pcs
		join Color on pcs.ColorId = Color.ColorId
		where pcs.ProductId=@productId
	end
GO
/****** Object:  StoredProcedure [dbo].[GetCustomer]    Script Date: 5/20/2023 10:38:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCustomer]
AS
BEGIN
	select * from [dbo].[KH] order by id asc
END
GO
/****** Object:  StoredProcedure [dbo].[GetImageToCart]    Script Date: 5/20/2023 10:38:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetImageToCart]
@productId int
as
begin
	select * from Image 
	where ProductId = @productId
end
GO
/****** Object:  StoredProcedure [dbo].[GetProductDetail]    Script Date: 5/20/2023 10:38:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[GetProductDetail]
@productId int
as
begin
	select Products.*,Category.CategoryName from Products
	left join Category on Category.CategoryId=Products.ProductId
	where Products.ProductId = @productId
end
GO
/****** Object:  StoredProcedure [dbo].[GetProducts]    Script Date: 5/20/2023 10:38:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetProducts]
	@qty INTEGER = -1,
	@type varchar(100) =''
AS
BEGIN
	IF(@type !='')
		begin
			if nullif(@qty,-1)is null begin set @qty = 15 end

			IF(@type='trending')
				BEGIN
			select top (@qty)
				Products.*, Category.CategoryName, Colours.ColorSum,img.ImageData,img.ImageExtension
			FROM Products
				JOIN Category on Category.CategoryId = Products.ProductCategory
				left JOIN (select ProductId, COUNT(distinct ColorId) ColorSum
				from ProductColorSize
				group by ProductId) Colours on Colours.ProductId = Products.ProductId
				left join (select * from [Image] where IsMain=1)img on Products.ProductId = img.ProductId
			ORDER BY ProductViewer DESC
			RETURN
		END
			else IF(@type='newest')
				BEGIN
			select top (@qty)
				Products.*, Category.CategoryName, Colours.ColorSum,img.ImageData,img.ImageExtension
			FROM Products
				JOIN Category on Category.CategoryId = Products.ProductCategory
				left JOIN (select ProductId, COUNT(distinct ColorId) ColorSum
				from ProductColorSize
				group by ProductId) Colours on Colours.ProductId = Products.ProductId
				left join (select * from [Image] where IsMain=1)img on Products.ProductId = img.ProductId
			ORDER BY [Date] DESC
			RETURN
		END
			else
				begin
				select top (@qty)
			Products.*, Category.CategoryName, Colours.ColorSum,img.ImageData,img.ImageExtension
		FROM Products
			JOIN (select *
			from Category
			where CategoryName=@type) Category on Category.CategoryId = Products.ProductCategory
			left JOIN (select ProductId, COUNT(distinct ColorId) ColorSum
			from ProductColorSize
			group by ProductId) Colours on Colours.ProductId = Products.ProductId
			left join (select * from [Image] where IsMain=1)img on Products.ProductId = img.ProductId
				return
				end
		end
	else IF nullif(@qty,-1) is null
		BEGIN
		select
			Products.*, Category.CategoryName, Colours.ColorSum,img.ImageData,img.ImageExtension
		FROM Products
			JOIN Category on Category.CategoryId = Products.ProductCategory
			left JOIN (select ProductId, COUNT(distinct ColorId) ColorSum
			from ProductColorSize
			group by ProductId) Colours on Colours.ProductId = Products.ProductId
			left join (select * from [Image] where IsMain=1)img on Products.ProductId = img.ProductId
		RETURN
	END
	ELSE
		BEGIN
		select top (@qty)
			Products.*, Category.CategoryName, Colours.ColorSum,img.ImageData,img.ImageExtension
		FROM Products
			JOIN Category on Category.CategoryId = Products.ProductCategory
			left JOIN (select ProductId, COUNT(distinct ColorId) ColorSum
			from ProductColorSize 
			group by ProductId) Colours on Colours.ProductId = Products.ProductId
			left join (select * from [Image] where IsMain=1)img on Products.ProductId = img.ProductId
		RETURN
	END
END
GO
/****** Object:  StoredProcedure [dbo].[GetQuantity]    Script Date: 5/20/2023 10:38:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetQuantity]
@productId int,
@sizeId int,
@ColorId int
as begin
	select Quantity
	from ProductColorSize
	where ProductId = @productId and SizeId=@sizeId and ColorId = @ColorId
end
GO
/****** Object:  StoredProcedure [dbo].[GetSize]    Script Date: 5/20/2023 10:38:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetSize]
as 
BEGIN
    select * from Size
END
GO
/****** Object:  StoredProcedure [dbo].[GetSizeOfProduct]    Script Date: 5/20/2023 10:38:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[GetSizeOfProduct]
@productId int
as
	begin
		select distinct Size.* from ProductColorSize pcs
		join Size on pcs.SizeId = Size.SizeId
		where ProductId= @productId
	end
GO
/****** Object:  StoredProcedure [dbo].[GetUserCart]    Script Date: 5/20/2023 10:38:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetUserCart]
@username varchar(100)
as
	begin
		select c.Quantity,c.PCS_Id,pcs.Quantity as Available,pro.ProductName,pro.ProductPrice,cate.CategoryName,Size.SizeValue,Color.ColorName
		from Carts c
		join ProductColorSize pcs on c.PCS_Id=pcs.Id
		join Size on Size.SizeId=pcs.SizeId
		join Color on Color.ColorId=pcs.ColorId
		join (select ProductId,ProductName,ProductPrice,ProductCategory from Products) pro on pro.ProductId = pcs.ProductId
		join (select CategoryId,CategoryName from Category) cate on cate.CategoryId=pro.ProductCategory
		where username=@username
	end
GO
/****** Object:  StoredProcedure [dbo].[getUserSession]    Script Date: 5/20/2023 10:38:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getUserSession]
@username varchar(100)
as
begin
	select *
	from Customer where CustomerUsername = @username
end
GO
/****** Object:  StoredProcedure [dbo].[InsertProduct]    Script Date: 5/20/2023 10:38:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Author, , Name>
-- Create Date: <Create Date, , >
-- Description: <Description, , >
-- =============================================
CREATE PROCEDURE [dbo].[InsertProduct]
    @ProductName NVARCHAR(200),
    @ProductPrice float,
    @ProductCategory int,
    @Description NVARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Products([ProductName]
      ,[ProductPrice]
      ,[ProductCategory]
      ,[Description])
    VALUES (@ProductName, @ProductPrice , @ProductCategory, @Description);
END
GO
/****** Object:  StoredProcedure [dbo].[IsAdmin]    Script Date: 5/20/2023 10:38:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Author, , Name>
-- Create Date: <Create Date, , >
-- Description: <Description, , >
-- =============================================
CREATE PROCEDURE [dbo].[IsAdmin]
@username varchar(50)
AS
BEGIN
	select Username from Accounts 
	where Username = @username and @username not in
	(select CustomerUsername from Customer)
END
GO
/****** Object:  StoredProcedure [dbo].[RemoveCart]    Script Date: 5/20/2023 10:38:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[RemoveCart] @userName varchar(50),@ProductId int
as begin
	if(@userName is not null)
	begin
		delete from Carts where Username = @userName and PCS_Id = @ProductId
	end
	else 
	raiserror ('Lỗi sản phẩm không tồn tại trong giỏ hàng',16,1)
end
GO
/****** Object:  StoredProcedure [dbo].[SearchProduct]    Script Date: 5/20/2023 10:38:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Author, , Name>
-- Create Date: <Create Date, , >
-- Description: <Description, , >
-- =============================================
CREATE PROCEDURE [dbo].[SearchProduct]
    @ProductName NVARCHAR(200) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT *
    FROM Products
    WHERE  (@ProductName IS NULL OR ProductName LIKE '%' + @ProductName + '%')
END
GO
/****** Object:  StoredProcedure [dbo].[SearchProductByName]    Script Date: 5/20/2023 10:38:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Author, , Name>
-- Create Date: <Create Date, , >
-- Description: <Description, , >
-- =============================================
CREATE PROCEDURE [dbo].[SearchProductByName]
    @productName nvarchar(50)
AS
BEGIN
    SET NOCOUNT ON;

    select Products.*, Category.CategoryName, Colours.ColorSum,img.ImageData,img.ImageExtension
		FROM Products
			JOIN Category on Category.CategoryId = Products.ProductCategory
			left JOIN (select ProductId, COUNT(distinct ColorId) ColorSum
			from ProductColorSize
			group by ProductId) Colours on Colours.ProductId = Products.ProductId
			left join (select * from [Image] where IsMain=1)img on Products.ProductId = img.ProductId
			WHERE Products.ProductName LIKE '%' + @productName + '%'
		ORDER BY ProductViewer DESC
		RETURN
END
GO
/****** Object:  StoredProcedure [dbo].[sp_alterdiagram]    Script Date: 5/20/2023 10:38:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_alterdiagram]
	(
		@diagramname 	sysname,
		@owner_id	int	= null,
		@version 	int,
		@definition 	varbinary(max)
	)
	WITH EXECUTE AS 'dbo'
	AS
	BEGIN
		set nocount on
	
		declare @theId 			int
		declare @retval 		int
		declare @IsDbo 			int
		
		declare @UIDFound 		int
		declare @DiagId			int
		declare @ShouldChangeUID	int
	
		if(@diagramname is null)
		begin
			RAISERROR ('Invalid ARG', 16, 1)
			return -1
		end
	
		execute as caller;
		select @theId = DATABASE_PRINCIPAL_ID();	 
		select @IsDbo = IS_MEMBER(N'db_owner'); 
		if(@owner_id is null)
			select @owner_id = @theId;
		revert;
	
		select @ShouldChangeUID = 0
		select @DiagId = diagram_id, @UIDFound = principal_id from dbo.sysdiagrams where principal_id = @owner_id and name = @diagramname 
		
		if(@DiagId IS NULL or (@IsDbo = 0 and @theId <> @UIDFound))
		begin
			RAISERROR ('Diagram does not exist or you do not have permission.', 16, 1);
			return -3
		end
	
		if(@IsDbo <> 0)
		begin
			if(@UIDFound is null or USER_NAME(@UIDFound) is null) -- invalid principal_id
			begin
				select @ShouldChangeUID = 1 ;
			end
		end

		-- update dds data			
		update dbo.sysdiagrams set definition = @definition where diagram_id = @DiagId ;

		-- change owner
		if(@ShouldChangeUID = 1)
			update dbo.sysdiagrams set principal_id = @theId where diagram_id = @DiagId ;

		-- update dds version
		if(@version is not null)
			update dbo.sysdiagrams set version = @version where diagram_id = @DiagId ;

		return 0
	END
	
GO
/****** Object:  StoredProcedure [dbo].[sp_creatediagram]    Script Date: 5/20/2023 10:38:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_creatediagram]
	(
		@diagramname 	sysname,
		@owner_id		int	= null, 	
		@version 		int,
		@definition 	varbinary(max)
	)
	WITH EXECUTE AS 'dbo'
	AS
	BEGIN
		set nocount on
	
		declare @theId int
		declare @retval int
		declare @IsDbo	int
		declare @userName sysname
		if(@version is null or @diagramname is null)
		begin
			RAISERROR (N'E_INVALIDARG', 16, 1);
			return -1
		end
	
		execute as caller;
		select @theId = DATABASE_PRINCIPAL_ID(); 
		select @IsDbo = IS_MEMBER(N'db_owner');
		revert; 
		
		if @owner_id is null
		begin
			select @owner_id = @theId;
		end
		else
		begin
			if @theId <> @owner_id
			begin
				if @IsDbo = 0
				begin
					RAISERROR (N'E_INVALIDARG', 16, 1);
					return -1
				end
				select @theId = @owner_id
			end
		end
		-- next 2 line only for test, will be removed after define name unique
		if EXISTS(select diagram_id from dbo.sysdiagrams where principal_id = @theId and name = @diagramname)
		begin
			RAISERROR ('The name is already used.', 16, 1);
			return -2
		end
	
		insert into dbo.sysdiagrams(name, principal_id , version, definition)
				VALUES(@diagramname, @theId, @version, @definition) ;
		
		select @retval = @@IDENTITY 
		return @retval
	END
	
GO
/****** Object:  StoredProcedure [dbo].[sp_dropdiagram]    Script Date: 5/20/2023 10:38:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_dropdiagram]
	(
		@diagramname 	sysname,
		@owner_id	int	= null
	)
	WITH EXECUTE AS 'dbo'
	AS
	BEGIN
		set nocount on
		declare @theId 			int
		declare @IsDbo 			int
		
		declare @UIDFound 		int
		declare @DiagId			int
	
		if(@diagramname is null)
		begin
			RAISERROR ('Invalid value', 16, 1);
			return -1
		end
	
		EXECUTE AS CALLER;
		select @theId = DATABASE_PRINCIPAL_ID();
		select @IsDbo = IS_MEMBER(N'db_owner'); 
		if(@owner_id is null)
			select @owner_id = @theId;
		REVERT; 
		
		select @DiagId = diagram_id, @UIDFound = principal_id from dbo.sysdiagrams where principal_id = @owner_id and name = @diagramname 
		if(@DiagId IS NULL or (@IsDbo = 0 and @UIDFound <> @theId))
		begin
			RAISERROR ('Diagram does not exist or you do not have permission.', 16, 1)
			return -3
		end
	
		delete from dbo.sysdiagrams where diagram_id = @DiagId;
	
		return 0;
	END
	
GO
/****** Object:  StoredProcedure [dbo].[sp_helpdiagramdefinition]    Script Date: 5/20/2023 10:38:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_helpdiagramdefinition]
	(
		@diagramname 	sysname,
		@owner_id	int	= null 		
	)
	WITH EXECUTE AS N'dbo'
	AS
	BEGIN
		set nocount on

		declare @theId 		int
		declare @IsDbo 		int
		declare @DiagId		int
		declare @UIDFound	int
	
		if(@diagramname is null)
		begin
			RAISERROR (N'E_INVALIDARG', 16, 1);
			return -1
		end
	
		execute as caller;
		select @theId = DATABASE_PRINCIPAL_ID();
		select @IsDbo = IS_MEMBER(N'db_owner');
		if(@owner_id is null)
			select @owner_id = @theId;
		revert; 
	
		select @DiagId = diagram_id, @UIDFound = principal_id from dbo.sysdiagrams where principal_id = @owner_id and name = @diagramname;
		if(@DiagId IS NULL or (@IsDbo = 0 and @UIDFound <> @theId ))
		begin
			RAISERROR ('Diagram does not exist or you do not have permission.', 16, 1);
			return -3
		end

		select version, definition FROM dbo.sysdiagrams where diagram_id = @DiagId ; 
		return 0
	END
	
GO
/****** Object:  StoredProcedure [dbo].[sp_helpdiagrams]    Script Date: 5/20/2023 10:38:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_helpdiagrams]
	(
		@diagramname sysname = NULL,
		@owner_id int = NULL
	)
	WITH EXECUTE AS N'dbo'
	AS
	BEGIN
		DECLARE @user sysname
		DECLARE @dboLogin bit
		EXECUTE AS CALLER;
			SET @user = USER_NAME();
			SET @dboLogin = CONVERT(bit,IS_MEMBER('db_owner'));
		REVERT;
		SELECT
			[Database] = DB_NAME(),
			[Name] = name,
			[ID] = diagram_id,
			[Owner] = USER_NAME(principal_id),
			[OwnerID] = principal_id
		FROM
			sysdiagrams
		WHERE
			(@dboLogin = 1 OR USER_NAME(principal_id) = @user) AND
			(@diagramname IS NULL OR name = @diagramname) AND
			(@owner_id IS NULL OR principal_id = @owner_id)
		ORDER BY
			4, 5, 1
	END
	
GO
/****** Object:  StoredProcedure [dbo].[sp_renamediagram]    Script Date: 5/20/2023 10:38:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_renamediagram]
	(
		@diagramname 		sysname,
		@owner_id		int	= null,
		@new_diagramname	sysname
	
	)
	WITH EXECUTE AS 'dbo'
	AS
	BEGIN
		set nocount on
		declare @theId 			int
		declare @IsDbo 			int
		
		declare @UIDFound 		int
		declare @DiagId			int
		declare @DiagIdTarg		int
		declare @u_name			sysname
		if((@diagramname is null) or (@new_diagramname is null))
		begin
			RAISERROR ('Invalid value', 16, 1);
			return -1
		end
	
		EXECUTE AS CALLER;
		select @theId = DATABASE_PRINCIPAL_ID();
		select @IsDbo = IS_MEMBER(N'db_owner'); 
		if(@owner_id is null)
			select @owner_id = @theId;
		REVERT;
	
		select @u_name = USER_NAME(@owner_id)
	
		select @DiagId = diagram_id, @UIDFound = principal_id from dbo.sysdiagrams where principal_id = @owner_id and name = @diagramname 
		if(@DiagId IS NULL or (@IsDbo = 0 and @UIDFound <> @theId))
		begin
			RAISERROR ('Diagram does not exist or you do not have permission.', 16, 1)
			return -3
		end
	
		-- if((@u_name is not null) and (@new_diagramname = @diagramname))	-- nothing will change
		--	return 0;
	
		if(@u_name is null)
			select @DiagIdTarg = diagram_id from dbo.sysdiagrams where principal_id = @theId and name = @new_diagramname
		else
			select @DiagIdTarg = diagram_id from dbo.sysdiagrams where principal_id = @owner_id and name = @new_diagramname
	
		if((@DiagIdTarg is not null) and  @DiagId <> @DiagIdTarg)
		begin
			RAISERROR ('The name is already used.', 16, 1);
			return -2
		end		
	
		if(@u_name is null)
			update dbo.sysdiagrams set [name] = @new_diagramname, principal_id = @theId where diagram_id = @DiagId
		else
			update dbo.sysdiagrams set [name] = @new_diagramname where diagram_id = @DiagId
		return 0
	END
	
GO
/****** Object:  StoredProcedure [dbo].[sp_upgraddiagrams]    Script Date: 5/20/2023 10:38:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_upgraddiagrams]
	AS
	BEGIN
		IF OBJECT_ID(N'dbo.sysdiagrams') IS NOT NULL
			return 0;
	
		CREATE TABLE dbo.sysdiagrams
		(
			name sysname NOT NULL,
			principal_id int NOT NULL,	-- we may change it to varbinary(85)
			diagram_id int PRIMARY KEY IDENTITY,
			version int,
	
			definition varbinary(max)
			CONSTRAINT UK_principal_name UNIQUE
			(
				principal_id,
				name
			)
		);


		/* Add this if we need to have some form of extended properties for diagrams */
		/*
		IF OBJECT_ID(N'dbo.sysdiagram_properties') IS NULL
		BEGIN
			CREATE TABLE dbo.sysdiagram_properties
			(
				diagram_id int,
				name sysname,
				value varbinary(max) NOT NULL
			)
		END
		*/

		IF OBJECT_ID(N'dbo.dtproperties') IS NOT NULL
		begin
			insert into dbo.sysdiagrams
			(
				[name],
				[principal_id],
				[version],
				[definition]
			)
			select	 
				convert(sysname, dgnm.[uvalue]),
				DATABASE_PRINCIPAL_ID(N'dbo'),			-- will change to the sid of sa
				0,							-- zero for old format, dgdef.[version],
				dgdef.[lvalue]
			from dbo.[dtproperties] dgnm
				inner join dbo.[dtproperties] dggd on dggd.[property] = 'DtgSchemaGUID' and dggd.[objectid] = dgnm.[objectid]	
				inner join dbo.[dtproperties] dgdef on dgdef.[property] = 'DtgSchemaDATA' and dgdef.[objectid] = dgnm.[objectid]
				
			where dgnm.[property] = 'DtgSchemaNAME' and dggd.[uvalue] like N'_EA3E6268-D998-11CE-9454-00AA00A3F36E_' 
			return 2;
		end
		return 1;
	END
	
GO
/****** Object:  StoredProcedure [dbo].[Update_ProductCS_Quantity]    Script Date: 5/20/2023 10:38:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Author, , Name>
-- Create Date: <Create Date, , >
-- Description: <Description, , >
-- =============================================
CREATE PROCEDURE [dbo].[Update_ProductCS_Quantity]
@id int,@ProductId int,@size int,@color int,@quantity int
as
	begin
		update ProductColorSize
		set Quantity = @quantity
		where ProductId =@ProductId and Id=@id and SizeId = @size and ColorId = @color
	end
GO
/****** Object:  StoredProcedure [dbo].[UpdateProduct]    Script Date: 5/20/2023 10:38:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Author, , Name>
-- Create Date: <Create Date, , >
-- Description: <Description, , >
-- =============================================
CREATE PROCEDURE [dbo].[UpdateProduct]
    @ProductID INT,
    @ProductName NVARCHAR(200),
    @ProductPrice float,
    @ProductCategory int,
    @Description NVARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Products
    SET ProductName = @ProductName,
        ProductPrice = @ProductPrice,
		ProductCategory = @ProductCategory,
		[Description] = @Description
    WHERE ProductID = @ProductID;
END
GO
/****** Object:  StoredProcedure [dbo].[UploadImageToProduct]    Script Date: 5/20/2023 10:38:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[UploadImageToProduct]
@ImgData varbinary(max),
@ImgExt varchar(10),
@productId int
as
begin
	if(select count(*) from Image where ProductId=@productId) >0
	begin
		INSERT INTO Image(ImageData,ImageExtension,ProductId,IsMain) SELECT @ImgData,@ImgExt,@productId,0
		SELECT @@IDENTITY
	end
	else
	begin
		INSERT INTO Image(ImageData,ImageExtension,ProductId,IsMain) SELECT @ImgData,@ImgExt,@productId,1
		SELECT @@IDENTITY
	end
end
GO
/****** Object:  StoredProcedure [dbo].[Validate_Role]    Script Date: 5/20/2023 10:38:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Author, , Name>
-- Create Date: <Create Date, , >
-- Description: <Description, , >
-- =============================================
create PROCEDURE [dbo].[Validate_Role]
@username varchar(50)
as
begin
	select * from Accounts where Username = @username
END
GO
EXEC sys.sp_addextendedproperty @name=N'microsoft_database_tools_support', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sysdiagrams'
GO
